.tabs {
  display: inline-flex;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
}

.fullWidth {
  display: flex;
}
.li {
  margin: 0;
  list-style: none;
  flex: 1 0 auto;
}
.button {
  text-align: center;
  display: block;
  text-decoration: none;
  border-radius: 3rem;
  background-clip: padding-box;
  color: inherit;
}
.active {
  font-weight: bold;
  color: #fff;
  background-color: deeppink;
}
.size_small .button {
  padding: 1em;
}
.size_large .button {
  padding: var(--spacer);
}