:root {
  --spacer: 1rem;
  --brand-color: deeppink;
  --app-background: #fff;
}

* {
  box-sizing: border-box;
  user-select: none;
}
ul, ol, li {
  padding: 0;
  margin: 0;
}
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select,
button {
  padding: .5em 1em;
  border: 0;
  font: inherit;
  outline: none !important; /* + :focus */
}
.select {
  border-radius: 99px;
}
.button {
  line-height: 1;
  text-decoration: none;
  color: inherit;
  background: none;
  border-radius: 99px;
  transition: background-color .2s;
}
.button--large {
  padding: var(--spacer);
}
.button--branded {
  background: var(--brand-color);
  color: #fff;
}
.button--branded:not([disabled]):hover {
  background: #f61881;
  cursor: pointer;
}
.button--branded:active {
  background: #ed1878;
}